
.content-wrapper{
	max-width: 90%;
	margin: 0 auto;
	overflow: auto;
}
html {
	box-sizing: border-box;
  font-family: $font_main;
	@include font-size(1);
}
////Montessori Elements behaviours////
p,
li {
	 font-size: $font_body_size_mob;
	 font-family:$font_title;
}
h1,h2,h3{
 text-transform: capitalize;
 font-family:$font_title;
 font-weight: lighter;
}

h1{font-size:$h1_size_mob;
}
h2{
font-size:$h2_size_mob;
}
h3{
 font-size:$h3_size_mob;
 font-family:$font_title;

}

@include desktop{
 p,
 li {
		font-size: $font_body_size_desktop;}
 h1{font-family:$font_title;
	 font-weight: lighter;
	 font-size:$h1_size_desktop;}
 h2{
 font-size:$h2_size_desktop;}
 h3{
	 font-size:$h3_size_desktop;
}}
//////////////////////////////
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background: $white;
  font-family: $font_body;
	box-sizing: border-box;
	line-height: $mobile_line_height;
	margin: 0 auto;
p,li{
	line-height: $mobile_line_height;
}
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: #ffffff;
	border: 0;
	height: 1px;
	margin-bottom: 1.5rem;
}

ul, ol {
	margin: 0;
}

ul {
	list-style: none;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

img {
  height: auto;
  max-width: 100%;
}

table {
	margin: 0;
	width: 100%;
}
