.red-border-container{
        width: $mobile_width;
        padding: 10px;
        overflow: visible;
        height: auto;
        margin-bottom: 70px;
        .left-red-border{
            width: 80%;
            height: 90px;
            border-left: 7px solid $color_bar_pink;
            padding-left: 20px;
            padding-right: 10px;

        }
}