/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
/* Background*/
.site-footer {
  margin: 0px auto;
    @include desktop {
        width: 100%;
    }
    font-family: $font_header_footer;
    height: 150px;
    background-color: $color_footer_green;
    color: $white;
}
/*The Footer Main Container*/
.footer-blocks {
    @include flex(center,space-between);
    flex-wrap: wrap;
    width: 440px;
    @include desktop {
        width: 100%;
    }
}

.footer-block-item1 {
  position: relative;
  padding: 0;
  height: 40px;
  margin-top: 5px;
    @include desktop {
        width: 70%;
    }



    li:last-child a {
        display: none;
        @include desktop {
          padding-right: 0px;
            display: inline-block;
        }
    }

    .fa {
        display: none;
        @include desktop {
          display: inline-block;
margin: 13px;
padding: 3.2px 8.6px;
width: 30.6px;
color: #fff;
border: 1px solid #fff;
border-radius: 50%;
font-size: 1.1rem;
        }
    }

    ul {display: inline-flex;
      flex-wrap: nowrap;
      padding-left: 0px;
        overflow: hidden;

        li:nth-child(even) a{
            border-left: solid 1px $white;
        }

        li:nth-child(3) a{
            border-left: solid 1px $white;
        }
        @include desktop {
        li:first-child a{
          padding-left: 0px;}
            li:nth-child(4) a{
                border-right: solid 1px $white;
            }
        }
    }

    ul li {
        display: inline-block;
        font-size: 1.3rem;
        padding: 0 ;
        display: inline-block;

        a {
          padding: 0 10px;
            font-size: 1.2rem;
            @include desktop {
                font-size: 1.3rem;
                padding:0 30px;
            };
            color: #D3E0DE;
            text-decoration: none;
        }
    }
}
//block 2

.footer-block-item2 {
  @include desktop {

    display:none;};
    padding-left: 0;
width: 100%;
text-align: center;
margin-top: 0px;

    p {
        margin: 0 auto;
    }

    .fa {
        display: inline-block;
        margin: 0;
        padding: 3.9px;
        margin-right: 5px;
        width: 31.6px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        font-size: 1.2rem;
    }

    a {
        font-size: 1.1rem;
        margin-right: 10px;
        color: #D3E0DE;
        text-decoration: none;
    }
}

/* copy rights*/
.footer-block-item3 {


    padding-top: 5px;
    width: 100%;
    height: 50px;
    text-align: center;
    text-transform: capitalize;
    @include desktop{
      width: 50%;
      text-align: left;
      padding:0 0 40px 0px;

    }
    p {
        margin: 0;
        height: 40px;
        font-size: 1rem;
        @include desktop{font-size: 1.3rem;}
    }
}
/*the links in the footer */
.footer-block-item1 li {
    a:hover {
        cursor: pointer;
        color: $color_btn_hover_green;
    }
}

.footer-block-item2 a:hover {
    cursor: pointer;
    color: $color_btn_hover_green;
}

.desktop-add-block{
  display: none;
  @include desktop{
    display: inline-block;
    width: 30%;
  ul li{
    line-height: 1.9rem;
    font-size: 1.2rem;
  }}

}
