

//front page
// @media screen and (max-width: 480px) {
.site-main {
    .home-wrapper {
        width: 480px;
        height: 555px;
        background-color: rgba(0,0,0,0.74);
        h2 {
            width: 100%;
            height: 42px;
            font-family: 'Asap';
            font-size: 36px;
            line-height: 42px;
            color: #fff;
            margin-top: 0;
            margin-left: 30px;
            padding-top: 17px;
            box-sizing: border-box;
            width: 119.23px;
            height: 74px;
            border-bottom: 4px solid #fff;
        }
        p {
            height: 160px;
            font-family: "Noto Sans";
            font-size: 20px;
            line-height: 40px;
            color: #fff;
            margin: 30px;
        }
        .red-btn {
            width: 200px;
            height: 41.88px;
            background-color: #F76072;
            border-color: #F76072;
            border-radius: 3px;
            color: #fff;
            margin-left: 118px;
            box-shadow: none;
            font-family: "Noto Sans";
            font-size: 20px;
            font-weight: 300;
            text-shadow: none;
            letter-spacing: 0.8px;
        }
    }
}
//this is for the quick links
.links-wrapper {
    h2 {
        padding-left: 38px;
        width: 852px;
        height: 42px;
        font-family: "Asap";
        font-size: 36px;
        line-height: 42px;
        color: #000000;
    }
    article {
        p {
            width: 377px;
            font-family: "Noto Sans";
            font-size: 20px;
            line-height: 40px;
            color: #000000;
            margin: 40px;
        }
    }
    a {
        .green-btn {
            width: 320px;
            height: 67px;
            background-color: #4FC8A1;
            border-radius: 6px;
            font-family: "Noto Sans";
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            color: #fff;
            border-color: #4FC8A1;
            margin-left: 60px;
            box-shadow: none;
            font-weight: 300;
            text-shadow: none;
            letter-spacing: 0.8px;
        }
        .red-btn {
            width: 320px;
            height: 67px;
            background-color: #F76072;
            border-radius: 6px;
            font-family: "Noto Sans";
            font-size: 24px;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            color: #fff;
            border-color: #F76072;
            margin-left: 60px;
            box-shadow: none;
            font-weight: 300;
            text-shadow: none;
            letter-spacing: 0.8px;
        }
    }
}
// this is for the support section
.support-wrapper {
    .information {
        h2 {
            width: 377px;
            height: 42px;
            font-family: 'Asap';
            font-size: 36px;
            line-height: 42px;
            color: #000;
            margin: 35px;
        }
        img {
            width: 287px;
            height: 470px;
        }
        p {
            width: 377px;
            font-family: "Noto Sans";
            font-size: 20px;
            line-height: 46px;
            color: #000;
            margin: 40px;
            .info {
                width: 470px;
                // height: 294px;
                font-family: "Noto Sans";
                font-size: 26px;
                font-weight: bold;
                line-height: 42px;
                color: #000;
            }
            .img-text {
                width: 470px;
                font-family: "Noto Sans";
                font-size: 20px;
                line-height: 46px;
                color: #000;
                margin: 45px;
            }
        }
        //p
        a {
            .red-btn {
                width: 185px;
                height: 47px;
                background-color: #F76072;
                border-color: #F76072;
                border-radius: 6px;
                color: #fff;
                margin-left: 20px;
                box-shadow: none;
                font-family: "Noto Sans";
                font-size: 20px;
                font-weight: 300;
                text-shadow: none;
                letter-spacing: 0.8px;
                text-decoration: none;
            }
            .green-btn {
                width: 185px;
                height: 47px;
                background-color: #4FC8A1;
                border-color: #4FC8A1;
                border-radius: 6px;
                font-family: "Noto Sans";
                font-size: 20px;
                font-weight: bold;
                text-align: center;
                line-height: 30px;
                color: #fff;
                margin-left: 15px;
                box-shadow: none;
                font-weight: 300;
                text-shadow: none;
                letter-spacing: 0.8px;
                text-decoration: none;
            }
        }//a
    }//information
}//support-wrapper

/****************************************************/
// this is for the features fliper
.features-wrapper {
    /* 	box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45); */
    background: #aff1d3;
    width: 200px;
}
.features-wrapper.hover .features-flipper,
.features-wrapper:hover .features-flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.features-wrapper,
.freatures-back,
.front {
    box-sizing: border-box;
    height: 139.76px;
    width: 480.27px;
}
.features-flipper {
    position: relative;
    -webkit-transition: 1.9s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1.9s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1.9s;
    -o-transform-style: preserve-3d;
    transition: 1.9s;
    transform-style: preserve-3d;
    /*   display: flex; */
    justify-content: space-around;
    flex-direction: row;
}
.features-back,
.front {
    text-align: center;
    overflow: hidden;
    /*   line-height: 1.5em; */
    padding: 20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.front {
    width: 424px;
    /* height: 70px; */
    font-family: Asap;
    font-size: 24px;
    text-align: center;
    color: #000000;
}
.features-back {
    overflow: hidden;
    line-height: 1.5em;
    padding: 20px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.features-back {
    position: absolute;
    bottom: 1px;
    background-color: white;
    border: 1px solid #248E6A;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.green-btn {
    color: #248E6A;
    text-decoration: none;
}
/***************************************************/
.features-wrapper {
    .features {
        h2 {
            width: 470px;
            height: 42px;
            font-family: 'Asap';
            font-size: 36px;
            line-height: 42px;
            color: #000;
            margin-left: 30px;
        }
    }
}
// }
a {
    text-decoration: none;
}
