///**** The Header ***/////

.masthead {
	position: absolute;
}
.site-content {
	padding-top: 180px;
	top: 0;
}
.home .site-content {
	padding-top: 80px;
	@include desktop {
		padding-top: 150px;
	};
}
///the second part between two menues///

.home .the-page-title{
	display:none;
}
.the-page-title {
	position: relative;
	background-color: #fff;
	height: 25px;
	padding: 0 32px;
	margin: 0 ;
	ul {
		height: 35px;
		margin: 0;
		@include flex(center,space-between) ;
		flex-direction: row;
		justify-content: space-between;
		position: relative;
		li {
			display: inline-block;
			a{
				color:#404040;
			}
		}
	}
	@include desktop {
		display: none;
	};
}
/////****Start Main Menu**** ////

.main-navigation-container {
	display: flex;
}
.main-navigation {
	padding-top: 40px;
	margin-right: 38px;
}
div .menu-primary-menu-container {
	width: 100%;
}
.main-navigation {
	min-width: 70%;
}
.menu-primary-menu-container {
	display: none;
	ul {
		li {
			display: inline-block;
			a:hover {
				border-top: 6px solid #57B79F;
				color: #57B79F;
				cursor: pointer;
			}
		}
	}
}
.main-navigation-container {
	width: 100%;
	background-color: $white;
	font-family: $font_header_footer;
	@include flex(center,space-between);
	height: 5rem;
	display: inline-block; //
	height: 8rem; //
	padding: 0 15px; //
}
.menu-primary-menu-container {
	@include desktop{
		white-space: nowrap;
		display: inline-block;
		ul {
			li {
				display: inline;
				a {
					text-transform: uppercase;
					text-decoration: none;
					color: #000;
					color: #231f20;
					font-size: 1.2rem;
					border-top: 6px solid transparent;
					list-style: none;
					padding: 15px 2px;
@include desktop2{
	font-size:1.5rem;
	padding: 15px 15px;
}
				}
			}
		}
	}
}
///////The Hamburger Menu Section for Mobile size//////

.responsive-menu-button {
	margin-top: 0.1rem !important;
}
.responsive-menu-box {
	width: 34px!important;
	height: 22px!important;
}
.responsive-menu-inner,
.responsive-menu-inner::after,
.responsive-menu-inner::before {
	background-color: #D8D8D8!important;
	width: 34px!important;
	height: 4px!important;
}
button,
input[type="button"] {
	box-shadow: none !important;
}
button#responsive-menu-button {
	top: 12px!important;
right: 6%!important;
background-color: transparent!important;
	background-color: transparent!important;
}
#primary-menu li.current-menu-item {
	a {
		border-top: 6px solid #57B79F;
		color: #57B79F;
		cursor: pointer;
	}
}
/////**** The Brand Logo Section ***/////

.montessori-logo {
	padding: 0;
	margin: 10px 0 20px 30px;
	width: 14rem;
	height: 7rem;
	@include desktop {
		margin: 0;
		padding: 30px 0 30px 10px;
		width: 20rem;
		min-width: 16rem;
		height: 8rem;
	}
	img {
		position: relative;
		height: 100%;
		width: 100%;
		padding-top: 25px;
		@include desktop {
			height: 100px;
			width: 300px;
			padding-top: 0;
			margin-top: 0;
		}
		a {
			bottom: -20px;
			cursor: pointer;
			position: absolute;
			color: transparent;
		}
	}
}

////****** Main menu wrapper*****///

.main-menu-wrapper {
	border-bottom: 2px solid #E2E2E2;
	width: 100%;
	height: 80px;
	@include flex(center,space-between);
	@include desktop {
		border-bottom: none;
		height: 120px;
	}
}
.site-header {
	z-index: 999;
	min-width: 380px;
	width: 100%;
	background: $white;
	position: absolute;
	@include desktop {
		position: fixed;
	};
	top: 0;
}
.home .site-header {
	padding-top: 0;
	position: absolute;
}
////**Sub Menu Section**/////

.back-to-top {
	position: absolute;
	left: 0;
	margin-right: 30px;
	a{
		visibility:hidden;
		@include desktop{
			visibility:visible;
		};
	}
}
div {
	.secondary li a {
		line-height: 2.1rem;
		@include desktop {
			line-height: 2.3rem;
		};
	}
}
///*******Secondary Menu green bar section *******//
div .secondary {
	font-family: $font_header_footer;
	@include desktop {
		text-align: right;
		padding: 0px 10px;
		    margin-bottom: 0px;
		height: 56px;
		margin-top: 40px;

	 @include desktop2{

		 height: 69px;
}
	}
	text-align: center;
	padding-right: 5px;
	background-color: #248E6A;
	& .active {
		background-color: $color_btn_green;
	}
	ul { @include desktop{
		display: fixed;
	}
		min-width: 50%;
	}
	li {
		display: inline-block;
		padding: 8px 0px;
		@include desktop {
	 padding: 10px 0px;
	 @include desktop2{
padding: 16.4px 0px;

	 };
		};
		a {
			color: white;
			padding: 0 20px;
			text-decoration: none;
			font-weight: lighter;
			font-size: 1.2rem;

			@include desktop {
				font-size: 1.2rem;
				@include desktop2{
font-size: 1.5rem;

				};
			}

		}
	}
}
div .secondary a{
	display: inline-block;
	border-left: solid 1px white;
}
div .secondary
{
 li:first-child a{
	border-left: none;
}
li:nth-child(2) a{
 border-left: none;
}
}
//// menu pop-up  mobile size on scroll///

 div .transparent-menu{
	position: fixed;
	 @include desktop{
		display: inline-block;
	};
	background-color: $white;
}
