
.main-navigation-container{
	display: flex;
}
.main-navigation{
	width: 100%;
}
div .menu-primary-menu-container{
	width: 100%;
}
.montessori-logo{
	width:15rem;
	height: 5rem;
 img{
	height: 100%;
	width: 100%;
}
}
@media screen and (max-width: 769px) {
    body {
        background-color: lightgreen;
    }
		.menu-primary-menu-container{
			display: none;
		}
}
.montessori-logo{
	width:10rem;
	height: 2rem;
 img{
	height: 100%;
	width: 100%;
}
}
.main-navigation-container{
	display: flex;
}
.main-navigation{
	width: 70%;
}
div .menu-primary-menu-container{
	width: 100%;
}
