

.main-navigation-container{
	display: flex;
}
.main-navigation{
	width: 100%;
}
div .menu-primary-menu-container{
	width: 100%;
}
.montessori-logo{
	width:15rem;
	height: 5rem;
 img{
	height: 100%;
	width: 100%;
}
}
@media screen and (max-width: 769px) {
    body {
        background-color: lightgreen;
    }
		.menu-primary-menu-container{
			display: none;
		}
}
.montessori-logo{
	width:10rem;
	height: 2rem;
 img{
	height: 100%;
	width: 100%;
}
}
.main-navigation-container{
	display: flex;
}
.main-navigation{
	width: 70%;
}
div .menu-primary-menu-container{
	width: 100%;
}

.menu-primary-menu-container{
			display: none;
	 ul{
		 li{
			 display: inline-block;
			 a:hover{
		border-top: 6px solid #57B79F;
	 color:#57B79F;
	 cursor: pointer;
	 }}}
		}

.main-navigation-container{
  width: 100%;
  background-color: $white;
	font-family: $font_footer_header;
	@include flex(center,space-between);
  height: 5rem;
	@include desktop{
    display:inline-block;
		height: 8rem;
		padding:0 15px 0 15px;
	}
}
.main-navigation{

	width: 100%;
}
 .menu-primary-menu-container{
@include desktop{
	display: inline-block;
	 ul{
			 li{ display: inline;
					 a{
	 text-transform: uppercase;
	 text-decoration: none;
	color:$black;
	color: #231F20;
	 font-size: 1.3rem;
	 border-top: 6px solid transparent;
	 list-style:none;
	padding: 15px 0px;
	 margin: 0px 5px;
}
}
}
}
}
div .secondary{
	 text-align: right;
	 width: 100%;
	 font-family: $font_footer_header;
max-height: 100px;
	 @include desktop{
		  white-space: nowrap;
	overflow: hidden;
	padding:5px 20 10px 10;
		 width: 100%;
	 }
	text-align: right;
	padding-right: 2rem;
	margin-top: 20px;
 background-color:#248E6A;
 & .active{
    background-color:$color_btn_green;
}
 li{
		 display: inline-block;
		 padding:10px;
	 a{
		 font-size: $font_body_size_mob;
 text-decoration: none;
 color:white;
}
 }
}
.responsive-menu-button {
	margin-top: 3rem !important;
}
#primary-menu li.current-menu-item {
	a{
		border-top: 6px solid #57B79F;
		color:#57B79F;
		cursor: pointer;
	}
}
 nav div .secondary{

@include desktop{

}

}
.montessori-logo{
	padding: 0;
	margin-left: 20px;
  margin:10px 0 20px 30px;
	width:14rem;
	height: 7rem;
	@include desktop{
		margin:0;
		padding: 30px 0 30px 10px;

			width:20rem;
			min-width: 12rem;
	height: 8rem;
	}
   img{
    position: relative;
	height: 100%;
	width: 100%;
  a{
    bottom:-20px;
    cursor: pointer;
    position: absolute;
    color:transparent;
  }
}
}

.main-menu-wrapper{
	width:100%;
	height: 80px;
	@include flex(center,space-between);
	@include desktop{
		 white-space: nowrap;
	overflow: hidden;
	}
}

.site-header{
	z-index: 999;
	min-width: $mobile-width;
	width: 100%;
	background:rgba($white,0.7);
	position: fixed;
border-bottom: solid 2px$black;
top:5px;
}
.site-content{
	padding-top:87px;
}
