
site-main{
   .involved-wrapper{
     width: 480px;
     margin-left: auto;
     margin-right: auto;
    //  flex-direction: row;
    //  display: inline-flex;
    //  justify-content: space-between;
   }
.involved-title{
green-btn{
       text-decoration: none;
       padding-left:19px;
       padding-right:36px;
       padding-top: 20px;
       padding-bottom: 19px;
       width: 120px;
       height: 220px;
       font-size: 15px;
       font-family: Asap;
       color:#000;
       background-color: #4FC8A1 ;
       font-family: "Noto Sans";
       font-size: px;
       font-weight: bold;
       text-align: center;
       line-height: 30px;
       color: #000;
       margin-left: 15px;
       box-shadow: none;
       font-weight: 300;
       text-shadow: none;
       display: block;
     }

    }
 }


 // This is for past events


 .text-title{
    h3 {
   border-top: 5px solid #248e6a;
   width: 150px;
   color:#000;
 }
 }
.text-shadow{
  border-top: 5px solid #248e6a;
  width:300px;

}



.a h2{
  color: #000;


}
