/*--------------------------------------------------------------
# Mixin
--------------------------------------------------------------*/
// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}
// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
//Desktop Screen size
@mixin desktop {
	 @media (min-width: #{$desktop_width}){
		@content;
	}
}
//Tablet Screen size
// @mixin tablet {
// 	@media (min-width: #{$Tablet-width}) {
// 		@content;
// 	}
// }
///flex mixin
@mixin flex($align,$justify) {
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	align-items: $align;
	justify-content: $justify;
}
///border radius extentions
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;
}
///visibility extentions
@mixin visibility($visibility) {
	-webkit-backface-visibility: $visibility;
	-moz-backface-visibility: $visibility;
	-o-backface-visibility: $visibility;
	backface-visibility: $visibility;
}
//rotate extentions
@mixin rotate($rotate) {
	-webkit-transform: rotateY($rotate);
	-moz-transform: rotateY($rotate);
	-o-transform: rotateY($rotate);
	transform: rotateY($rotate);
}
