/*--------------------------------------------------------------
# Montessori
--------------------------------------------------------------*/
/////*Start History Section**/////

.history-title {
    margin-bottom: 0;
    flex: 0 90%;
}

.main-history {
    p:nth-child(4) {
        margin-left: -40%;
        overflow: visible;
        @include desktop {
            margin-left: 0;
        }
    }
    @include flex(flex-end,space-between);

    .history-img1 {
        display: block;

        img {
            float: left;
        }
        @include desktop {
            display: none;
        };
    }

    .history-img {
        display: none;
        @include desktop {
            display: block;
            margin-top: 100px;
            align-self: flex-end;
            width: 430px;
            height: 500px;
            padding-bottom: 100px;;
        }
    }
}

.history-content {
    blockquote {

        text-align: left;
    }

    p {
        width: 100%;
        text-align: left;
        display: inline;
        overflow: hidden;
    }
    width: 100%;



    blockquote {
      width: 100%
    }
    @include desktop {
        blockquote {
            width: 75%;
            min-width: 70%;
            top: 10px;
            margin: 0 0 0 15%;
            padding-left: 25px;
            position: relative;

            p {
              margin: 0px;
                font-size: 2rem;
            }
        }

        blockquote::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 5PX;
            left: 0PX;
            height: 100%;
            border-left: solid 12px $border_left_red;
            font-size: 1.5rem;
        }

        p {
          display: inline-block;
            text-align: left;
        }
    }
}
////************philosophy Section ************/////

.main-philosophy {
    margin: 100px auto;
    width: 400px;
    min-width: 90%;
    height: auto;
    @include flex(center,space-around);
    flex-wrap: wrap;
    position: relative;
    @include desktop {
      width: 1000px;
      min-width: 950px;
        height: 640px;
    }

    div {
        width: 100%;
    }

    .philosophy-grid {
        flex: 0 0 auto;
        width: 200px;
        height: 200px;
        background-color: #AFF1D3;
        margin-top: 20px;
        @include flex(center,space-between);
        flex-wrap: wrap;
        position: relative;
        @include desktop {
            width: 300px;
            height: 300px;
            background-color: #AFF1D3;
            -webkit-transition: 3s;
            -webkit-transform-style: preserve-3d;
            -moz-transition: 2s;
            -moz-transform-style: preserve-3d;
            -o-transition: 3s;
            -o-transform-style: preserve-3d;
            transition: 3s;
            transform-style: preserve-3d;
            @include border-radius(10px);

            &:hover {
                @include visibility(hidden);
                @include rotate(180deg);
            }
        }

        .philosophy-img {
            z-index: 2;
            height: auto;
            text-align: center;
            padding: 20px;
            @include desktop {
                 @include visibility(hidden);
            }
            position: relative;
            width: 100%;
            height: 200px;

            img {
                position: absolute;
                top: 46px;
                right: 63px;
                width: 70px;
                height: 70px;
                @include desktop {
                    left: 56px;
                    top: 9px;
                    width: 190px;
                    height: 153px;
                    @include visibility(hidden);
                }
            }
        }

        h2 {
            z-index: 1;
            margin: 0;
            text-align: center;
            display: inline-block;
            width: 85.1%;
            color: #248e6a;
            height: auto;
            overflow: hidden;
            padding: 0;
            bottom: 14px;
            line-height: 0.9rem;
            right: 10px;
            position: absolute;

            a {
                color: #248E6A;
                font-size: 1.1rem;
                font-weight: bold;
            }
            @include desktop {
                a {
                    font-size: 1.3rem;
                }

                .show {
                    font-size: 1.4rem;
                    @include visibility(hidden);
                }

                &:hover {
                    @include visibility(hidden);
                    @include rotate(180deg);
                }
            }
            position: absolute;
        }

        p {
            text-align: left;
            display: inline-block;
            font-family: $font_body;
            position: absolute;
            top: -17px;
            overflow-y: scroll;
            font-size: 1.3rem;
            left: 0;
            z-index: 1000;
            height: 300px;
            width: 300px;
            @include border-radius (10px);
            border: 1px solid #248E6A;
            text-align: left;
            overflow: hidden;
            padding: 5px;
            visibility: hidden;
            @include desktop {
                overflow: scroll;
                font-size: 1.2rem;
                visibility: visible;
                @include visibility(hidden);
                background-color: #fff;
                @include rotate(180deg);
            }
        }
    }
}
////************End philosophy Section ************/////
////////*******Start Materials Section******/////////

.main-materials div:nth-of-type(3) {
    @include desktop {
        flex-direction: row-reverse;
    }
}

.main-materials div:nth-of-type(1) {
    img {
        display: none;
    }

    .materials-contents {
        width: 90%;
    }
}

.materials {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
         @include flex(center,space-between);
        flex-direction: row;
        flex-wrap: wrap;
    }

    img {
        width: 330px;
        height: 330px;
        @include desktop {
            margin-top: 100px;

        }
    }
}

.materials-contents {
    blockquote {


    p {
        display: inline;
    }}
    width: 90%;
    @include desktop {
        width: 60%;
        min-width: 50%;

        blockquote {
            width: 75%;
            min-width: 70%;
            top: 10px;
            margin: 0 0 0 15%;
            padding-left: 25px;
            display: inline-block;
            position: relative;

            p {
                margin: 0px;
                font-size: 2rem;
            }
        }

        blockquote::before {
            content: "";
            display: block;
            position: absolute;
            top: 5PX;
            left: 0PX;
            height: 100%;
            border-left: solid 12px $border_left_red;
            font-size: 1.5rem;
        }

        p {
          display: inline;
            padding-top: 4px;
            text-align: left;@include desktop{
              display: inline-block;
            };
        }
    }
}
/////*Start Benefits Section**/////

.benefits li {
    list-style-type: disc;
    @include desktop{
      // color:red;

    };
}

.first-benefits-section {
    width: 100%;
    min-width: 80%;
    height: 100%;
    @include flex(center,space-between);
    flex-direction: column;
    @include desktop {
        flex-direction: row;
    }

    img {
        width: 250px;
        height: 250px;
        margin-top: 30px;
        @include desktop {
            align-self: flex-start;
            width: 330px;
            height: 330px;
            margin: 0 40px 20px 0;
        }
    }
}

.benefits-content {
    width: 100%;
    @include desktop {
        blockquote {
            width: 70%;
            top: 10px;
            margin: 0 0 0 15%;
            padding-left: 25px;
            display: inline-block;
            position: relative;

            p {
                margin: 0px;
                font-size: 2rem;
            }
        }

        blockquote::before {
            content: "";
            display: block;
            position: absolute;
            top: 5PX;
            left: 0PX;
            height: 100%;
            border-left: solid 12px $border_left_red;
            font-size: 1.5rem;
        }

        p {
            padding-top: 4px;
            text-align: left;
        }
    }
}
//
//             p {
//                 font-size: 2rem;
//             }
//         }
//
//         .red-border-q::before {
//             content: "";
//             display: block;
//             position: absolute;
//             top: 5PX;
//             left: 0PX;
//             height: 100%;
//             border-left: solid 12px $border_left_red;
//         }
//     }
// }
//
// .benefits-title {
//     p {
//         padding-top: 4px;
//         display: block;
//         @include desktop {
//             font-size: 1.5rem;
//         }
//     }
// }
// ///Archive ////
// .montessori-archive {
//     margin-top: 40px;
//
//     h3 {
//         width: 40%;
//         border-top: solid 3px $color_btn_green;
//         padding-top: 30px;
// .the-archive ul{
//   width: 500px;
//   line-height: 2.5rem;
//   font-size: 1.6rem;
//   font-family: $font_title;
//   li{
//     padding-left: 30px;
//     line-height: inherit;
//     font-size: 1.4rem;
//   }
// }
//
// .montessori-archive {
//
//
//     h3 {
//         width: 600px;
//         border-top: solid 3px $color_btn_green;
//         padding-top: 12px;
//     }
// }
// /*Start Resources Section  */
// .main-resources {
//   border-bottom: none;
//   height: 400px;
//   position: relative;
// .green-btn {
//     background-color: #4fc8a1;
//     @include border-radius (6px);
//     font-family: Noto Sans;
//     font-size: 14px;
//     font-weight: 700;
//     text-align: center;
//     line-height: 28px;
//     color: #fff;
//     padding: 10px 20px;
//     text-shadow: none;
//     letter-spacing: 0.8px;
//     display: block;
//     margin: 10px auto;
//     @include desktop {
//         width: 331px;
//         height: 65px;
//         font-size: 20px;
//     }
// }
// }

.benefits-title {
    p {
        padding-top: 4px;
        display: block;
        @include desktop {
            font-size: 1.5rem;
        }
    }
}
///Archive ////
.fa-caret-right{
  color: $color_btn_hover_green;
  padding-right: 5px;
}
.the-archive ul {
width: 450px;
    line-height: 2rem;
    font-size: 1.3rem;
    font-family: $font_title;
    @include desktop{
      line-height: 2.5rem;
      font-size: 1.6rem;
      width: 600px
    };

    li {
        padding-left: 30px;
        line-height: inherit;

    a{font-size: 1.2rem;@include desktop{font-size: 1.4rem;}
          color: $color_btn_hover_green;
      }
    }
}

.montessori-archive {
    h3 {
        width: 600px;
        border-top: solid 3px $color_btn_green;
        padding-top: 12px;
    }
}
///rotate the arrow and toggle the contents

.rotate {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.toggle {
    color: green;
    padding-left: 10px;
}

.fa-angle-down {
    color: green;
    padding-left: 10px;
}
/*Start Resources Section  */
.main-resources {
    border-bottom: none;
    height: 400px;
    position: relative;
    .green-bt{
        background-color: #4fc8a1;
        @include border-radius (6px);


        letter-spacing: 0.8px;
        display: block;
        margin: 10px auto;;
        text-shadow: none;
        a{
          font-family: Noto Sans;
          font-size:1rem;
          font-weight: 700;
          text-align: center;
          line-height: 28px;
          color: #fff;
          padding: 10px 20px;
        }
        @include desktop {
            width: 331px;
            height: 65px;
            font-size: 20px;
            a{
font-size:1.1rem;
            }
        }
    }
}
