/*--------------------------------------------------------------
# Montessori
--------------------------------------------------------------*/
/////*Start History Section**/////
.rotate {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}
.toggle{
  color:green;
  padding-left:10px;
}

.fa-angle-down{

  color:green;
  padding-left:10px;
}

.history-content {
    width: 100%;
    flex-wrap: wrap;
    margin-left: 30px;
}

.history-title {
    margin-bottom: 0;
    flex: 0 90%;
}

.main-history {
    p:nth-child(4) {
        margin-left: -40%;
        overflow: visible;
        @include desktop {
            margin-left: 0;
        }
    }
    @include flex(flex-end,space-between);

    .history-img {
        align-self: flex-start;
        margin-top: 100px;
        width: 220px;
        height: 240px;
        @include desktop {
            width: 430px;
            height: 500px;
            padding-bottom: 40px;
        };

        img {
            width: 100%;
            height: 100%;
        }
    }
    @include desktop {
        .red-border-q {
            width: 80%;
            top: 10px;
            margin: 0 0 0 15%;
            padding-left: 25px;
            display: inline-block;
            position: relative;

            p {
                font-size: 2rem;
                margin: 0;
            }
        }

        .red-border-q::before {
            content: "";
            display: block;
            position: absolute;
            top: 5PX;
            left: 0PX;
            height: 100%;
            border-left: solid 12px $border_left_red;
        }
        font-size: 1.5rem;
    };

    p {
        padding-top: 4px;
        text-align: left;
    }
}
////************philosophy Section ************/////

.main-philosophy {
    margin: 100px auto;
    width: 70%;
    height: auto;
    @include flex(center,space-around);
    flex-wrap: wrap;
    position: relative;
    @include desktop {
        height: 640px;

    }

    div {
        width: 100%;
    }

    .philosophy-grid {

        flex: 0 0 auto;
        width: 200px;
        height: 200px;
        background-color: #AFF1D3;
        margin-top: 20px;
        @include flex(center,space-between);
        flex-wrap: wrap;
        position: relative;
        @include desktop {
            width: 300px;
            height: 300px;
            background-color: #AFF1D3;
            -webkit-transition: 3s;
            -webkit-transform-style: preserve-3d;
            -moz-transition: 2s;
            -moz-transform-style: preserve-3d;
            -o-transition: 3s;
            -o-transform-style: preserve-3d;
            transition: 3s;
            transform-style: preserve-3d;
            @include border-radius(10px);

            &:hover {
                @include visibility(hidden);
                @include rotate(180deg);
            }
        }

        .philosophy-img {

            z-index: 2;
            height: auto;
            text-align: center;
            overflow: hidden;
            padding: 20px;

            @include desktop {

                 @include visibility(hidden);
            }
            position: relative;
            width: 100%;
            height: 200px;

            img {
                position: absolute;
                top: 46px;
                right: 63px;
                width: 70px;
                height: 70px;
                @include desktop {
                    left: 56px;
                    top: 9px;
                    width: 190px;
                    height: 153px;
                    @include visibility(hidden);
                }
            }
        }

        h2 {
          z-index: 1;
  margin: 0;
  text-align: center;
  display: inline-block;
  width: 80%;
  color: #248e6a;
  height: auto;
  overflow: hidden;
  padding: 0;
  bottom: 35px;
  line-height: 1.2rem;
  position: absolute;
  right: 24px;

            a {
                color: #248E6A;
                font-size: 1.1rem;
                font-weight: bold;
            }
            @include desktop {
                a {
                    font-size: 1.3rem;
                }

                .show {
                    font-size: 1.4rem;
                    @include visibility(hidden);
                }

                &:hover {
                    @include visibility(hidden);
                    @include rotate(180deg);
                }
            }
            position: absolute;
        }

        p {
            text-align: left;
            display: inline-block;
            font-family: $font_body;
            position: absolute;
            top: -17px;
            overflow-y: scroll;
            font-size: 1.3rem;
            left: 0;
            z-index: 1000;
            height: 300px;
            width: 300px;
            @include border-radius (10px);
            border: 1px solid #248E6A;
            text-align: left;
            overflow: hidden;
            padding: 5px;
            visibility: hidden;
            @include desktop {
                overflow: scroll;
                font-size: 1.2rem;
                visibility: visible;
                @include visibility(hidden);
                background-color: #fff;
                @include rotate(180deg);
            }
        }
    }
}


////************End philosophy Section ************/////
////////*******Start Materials Section******/////////

.main-materials div:nth-of-type(3) {
    @include desktop {
        flex-direction: row-reverse;
    }
}

.main-materials div:nth-of-type(1) {
    img {
        display: none;
    }

    .materials-contents {
        width: 90%;
    }
}

.materials {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
         @include flex(flex-start,space-between);
        flex-direction: row;
        flex-wrap: wrap;
    }

    img {
        width: 230px;
        height: 230px;
        @include desktop {
            margin-top: 100px;
            width: 300px;
            height: 300px;
        }
    }
}

.materials-contents {
    width: 100%;
    @include desktop {
        width: 60%;

        .red-border-q {
            width: 75%;
            top: 10px;
            margin: 0 0 0 10%;
            padding-left: 25px;
            display: inline-block;
            position: relative;

            p {
                margin: 0;
                font-size: 2rem;
            }
        }

        .red-border-q::before {
            content: "";
            display: block;
            position: absolute;
            top: 5PX;
            left: 0PX;
            height: 100%;
            border-left: solid 12px $border_left_red;
        }
        font-size: 1.5rem;
    }
}

.materials-grid div:nth-of-type(2) {
    align-self: left;
}

.materials-grid {
    margin: 40px 0;
    padding: 0;
}
////////*******End Materials Section******/////////
/////*Start Benefits Section**/////

.benefits li {
    list-style-type: disc;
}

.first-benefits-section {
    width: 90%;
    height: 100%;
    @include flex(center,space-between);
    flex-direction: column;
    @include desktop {
        flex-direction: row;
    }

    img {
        width: 250px;
        height: 250px;
        margin-top: 30px;
        @include desktop {
            align-self: flex-start;
            width: 330px;
            height: 330px;
            margin: 0 40px 20px 0;
        }
    }
}

.benefits-content {
    width: 100%;
    @include desktop {
        .red-border-q {
            width: 75%;
            top: 10px;
            margin: 0 0 0 10%;
            padding-left: 25px;
            display: inline-block;
            position: relative;

            p {
                font-size: 2rem;
            }
        }

        .red-border-q::before {
            content: "";
            display: block;
            position: absolute;
            top: 5PX;
            left: 0PX;
            height: 100%;
            border-left: solid 12px $border_left_red;
        }
    }
}

.benefits-title {
    p {
        padding-top: 4px;
        display: block;
        @include desktop {
            font-size: 1.5rem;
        }
    }
}
///Archive ////

.montessori-archive {
    margin-top: 40px;

    h3 {
        width: 40%;
        border-top: solid 3px $color_btn_green;
        padding-top: 30px;
    }
}
/*Start Resources Section  */
.main-resources {
  height: 400px;
  position: relative;
.green-btn {
    background-color: #4fc8a1;
    @include border-radius (6px);
    font-family: Noto Sans;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    line-height: 28px;
    color: #fff;
    padding: 10px 20px;
    text-shadow: none;
    letter-spacing: 0.8px;
    display: block;
    margin: 10px auto;
    @include desktop {
        width: 331px;
        height: 65px;
        font-size: 20px;
    }
}
}
