/*--------------------------------------------------------------
# NW Program Page
--------------------------------------------------------------*/
// General Setting

* {
	box-sizing: border-box;
}
// @media screen and (max-width: 480px) {

.nw-program-wrapper {
	max-width: $mobile_width;
	height: auto;
	margin: 0 auto;
	padding-left: $basic_pading * 2;
	padding-right: $basic_pading * 1.5;
	align-items: center;
	background-color: grey;

	h1 {
		font-family: Asap;
		font-size: $h1_size_mob;
		font-weight: normal;
		line-height: $basic_hline_height * 4.2;
		text-align: left;
		color: $black;
	}
}
// Section Why NW Program Section

.nw-program {
	display: flex;
	flex-direction: column;

	.why-nw {
		display: inline-block;

		.nw-img {
			display: flex;
			justify-content: center;
			margin-bottom: 50px;
		}
	}
}
// Funding Section

.funding {
	display: flex;
	flex-direction: column;

	.funding-img,.money-spend-img {
		display: flex;
		justify-content: center;
		img{
			width: 95%;
			height: 95%;
			margin-right: 2px;
		}
	}
	.funding-btn {
		display: flex;
		justify-content: center;
		.green-btn{
			padding: 10px;
			width: 44.666%;
			margin-right: 2px;
		}
	}
}
//School List Section
.school-list{
	display: flex;
	flex-direction: column;
	    .school-img{
				display: flex;
				justify-content: center;
				img{
				width:80%;
				height:80%;

		    }
			 .address	.phone {
				font-weight: bolder;
			}
   	}
}

//Preschools List Section

.preschools-list {
	padding: 1px;

	.target {
		margin: 0 auto;
	}
}
//Enrollment Section
.enroll {
display: flex;
flex-direction: column;
	.enroll-block {
		max-width: 70%;
		display: flex;
		justify-content: space-around;
		margin: 40px auto;
		flex-direction: column;
		.enroll-img {
			margin-bottom: 50px;
		}
		.green-btn {
			height: 47px;
			display: inline-block;
			box-sizing: border-box;
			text-align: center;
			background-color: #4FC8A1;
			border-radius: 6px;
			font-family: "Noto Sans";
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			line-height: 30px;
			color: #fff;
			text-shadow: none;
			letter-spacing: 0.8px;
		}
	}
}
//teacher list Section

.teacher-list {
	padding: 2px;
	flex-wrap: wrap;
	display: flex;

	.teacher-grid {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.flip-container {
		display: flex;
		box-shadow: inset 1px 1px 40px 0 rgba(0,0,0,.45);
		background: #aff1d3;
		border-radius: 50%;

		.flipper {
			flex: 1 0 auto;
			display: flex;
			width: 50%;
			position: relative;
			-webkit-transition: 1.9s;
			-webkit-transform-style: preserve-3d;
			-moz-transition: 1.9s;
			-moz-transform-style: preserve-3d;
			transition: 1.9s;
			transform-style: preserve-3d;

			p {
				font-size: 50%;
				line-height: 30px;
			}
		}

		.front {
			position: absolute;
			background-size: cover;
			border-radius: 50%;
			flex: 2;

			img {
				border-radius: 50%;
			}
		}

		.back {
			border-radius: 50%;
			position: absolute;
			width: 125px;
			overflow: hidden;
			text-overflow: ellipsis;
			height: 125px;
			text-align: center;
			right: 3px;
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
			transform: rotateY(180deg);
		}
	}

	.flip-container.hover .flipper,
	.flip-container:hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

	.back,
	.flip-container,
	.front {
		width: 125px;
		height: 125px;
	}

	.back,
	.front {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
	}

	.teacher_det {
		text-align: center;

		p {
			font-size: 50%;
		}
	}
}
