/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

////Montessori Elements Typography ////
p,
li {
	 font-size: $font_body_size_mob;
	 font-family:$font_title;
}
h1,h2,h3{
 text-transform: capitalize;
 font-family:$font_title;
 font-weight: lighter;
}

h1{font-size:$h1_size_mob;
}
h2{
font-size:$h2_size_mob;
}
h3{
 font-size:$h3_size_mob;
 font-family:$font_title;

}

@include desktop{
 p,
 li {
		font-size: $font_body_size_desktop;}
 h1{font-family:$font_title;
	 font-weight: lighter;
	 font-size:$h1_size_desktop;}
 h2{
 font-size:$h2_size_desktop;}
 h3{
	 font-size:$h3_size_desktop;
}}
body{
	line-height: 3rem;
}
//////////////////////////////


/******* Headings *****/


body,
button,
input,
select,
textarea {
	color: $color_text_main;
	font-family: $font_main;
	@include font-size(1);

}

/* Headings */

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

/* Copy */


dfn, cite, em, i {
	font-style: italic;
}

code, kbd, tt, var {
	font-family: $font_main;
	@include font-size(0.9375);
}

abbr, acronym {
	cursor: help;
}

mark, ins {
	text-decoration: none;
}

big {
	font-size: 125%;
}
