/********* Montessori Site Structure **********/

$base_space_unit: 1.5em;
$basic_pading: 0.625rem; /// ==>10px ////
$basic_margin: 0.625rem; /// ==>10px ////
$basic_hline_height: 0.625rem; /// ==>10px ////
///Screen Size///

$desktop_width: 48rem; //768px
$mobile_width:27.5rem; //440px for Mobile Container
//Layout//
$base_spacing_normal: 1rem;
$base_spacing_large: 2.5rem;
$base_spacing_large: 4rem;

/// Colors ///

$color_background_body:#fff;
$color_text_main:#404040;
$color_mobile_clicked_green:#125A50;
$color_text-screen:#21759b;

/********* Colours **********/

//Montessori Brand Colours//

$color_btn_orange: #F76072 ;
$color_btn_hover_pink: #CB203E ;
$color_btn_green: #4FC8A1 ;
$color_btn_hover_green: #248E6A ;
$color_text_green: #4FC8A1 ;
$color_bar_pink: #D93B57 ;
$color_footer_green: #125A50 ;
$black:#000000;
$white: #fff;


// Typography ///
$font_title: 'Asap';
$font_footer_header: 'PT Sans';
$font_body: 'Noto Sans';
$font_main: 'Noto Sans';
///Font Sizing ///
// mobile sizes ///
$h1_size_mob: 2.5rem;
$h2_size_mob: 2rem;
$h3_size_mob: 1.5rem;
$font_body_size_mob: 2;

/// desktop sizes ////
$h1_size_desktop: 5rem;
$h2_size_desktop: 3rem;
$h3_size_desktop: 2.5rem;
$font_body_size_desktop: 2rem;
$font_line-height-body: 1.5;
